<header
    class="fixed flex justify-center items-center top-2 left-1/2 -translate-x-1/2 z-10 w-auto sm:w-auto transition-colors duration-300 ease-in-out px-3 py-1 rounded-full"
    id="navbar"
>
    <nav
        class="flex justify-center items-center w-auto sm:w-auto px-4 py-2 text-sm font-medium text-gray-200 rounded-full"
    >
        <a
            class="nav-link px-3 py-1 mx-2 transition hover:text-sky-400"
            href="#experiencia"
            aria-label="experiencia"
        >
            Experiencia
        </a>
        <a
            class="nav-link px-3 py-1 mx-2 transition hover:text-sky-400"
            href="#proyectos"
            aria-label="proyectos"
        >
            Proyectos
        </a>
        <a
            class="nav-link px-3 py-1 mx-2 transition hover:text-sky-400"
            href="#sobre-mi"
            aria-label="sobre-mi"
        >
            Sobre mí
        </a>
        <a
            class="nav-link px-3 py-1 mx-2 transition hover:text-sky-400"
            href="#"
            aria-label="contacto"
        >
            Contacto
        </a>
    </nav>
</header>

<script>
    document.addEventListener("scroll", () => {
        const navbar = document.getElementById("navbar");
        const sections = document.querySelectorAll("section");
        const navLinks = document.querySelectorAll(".nav-link");

        if (navbar) {
            if (window.scrollY > 50) {
                navbar.classList.add("navbar-scrolled");
            } else {
                navbar.classList.remove("navbar-scrolled");
            }
        }

        let currentSection = "";
        sections.forEach((section) => {
            const sectionTop = section.offsetTop;
            const sectionHeight = section.offsetHeight;
            if (window.scrollY >= sectionTop - 50 && window.scrollY < sectionTop + sectionHeight) {
                currentSection = section.getAttribute("id") || "";
            }
        });

        navLinks.forEach((link) => {
            if (link.getAttribute("href") === `#${currentSection}`) {
                link.classList.add("text-sky-400");
            } else {
                link.classList.remove("text-sky-400");
            }
        });
    });
</script>

<style>
    body {
        scroll-behavior: smooth;
    }

    section {
        padding: 100px 20px;
        height: 100vh;
    }

    .navbar-scrolled {
        background-color: rgba(0, 63, 146, 0.13);
        border: 0.5px solid rgba(0, 63, 146, 0.3);
        backdrop-filter: blur(20px);
        transition: background-color 0.3s ease-in-out;
    }

    /* Ajustes para pantallas pequeñas */
    @media (max-width: 768px) {
        #navbar {
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 80%; /* Cambié el ancho a 80% en lugar de 100% */
        }

        nav {
            flex-wrap: nowrap; /* Asegura que los elementos no se acomoden en varias filas */
            justify-content: center; /* Asegura que los elementos estén centrados */
            width: 100%;
        }

        .nav-link {
            margin: 0 0.5rem; /* Reduce el margen para que quepan más enlaces */
        }
    }

    /* Para pantallas muy pequeñas */
    @media (max-width: 480px) {
        .nav-link {
            font-size: 12px; /* Reduce el tamaño de la fuente */
            padding: 0.5rem;
        }
    }
</style>